{% extends "block.html.twig" %}
{#
  /**
  * @file
  * Bartik's theme implementation for a branding block.
  *
  * Each branding element variable (logo, name, slogan) is only available if
  * enabled in the block configuration.
  *
  * Available variables:
  * - site_logo: Logo for site as defined in Appearance or theme settings.
  * - site_name: Name for site as defined in Site information settings.
  * - site_slogan: Slogan for site as defined in Site information settings.
  */
  #}
  {% set attributes = attributes.addClass('site-branding') %}
  {% block content %}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-navbar-item uk-logo">
  {% if site_logo %}
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    {% endif %}
    {% if site_name %}
        <span class="uk-margin-small-right" uk-icon="icon: nut; ratio: 2"></span>
        <span class="first-word">{{ site_name|split(' ')|first }}</span>&nbsp;
        <span>{{ site_name|split(' ')|last }}</span>
  {% endif %}
      </a>
  {% endif %}
      <div class="site-branding__slogan">{{ site_slogan }}</div>
  {% endblock %}
